<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mariage Xavier & Manon{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/flatly/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/base.css') }}">
        {% block stylesheets %}
        {% endblock %}

    </head>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ path('home') }}">Mariage Manon & Xavier</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('home') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('wedding') }}">Le mariage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('guest') }}">Répondre à l'invitation</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    {% if app.user %}
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountDropdownLink">
                                {{ app.user.email }}
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                {% if "ROLE_ADMIN" in app.user.roles %}
                                    <a href="{{ path('admin') }}" class="dropdown-item submit">Espace admin</a>
                                {% endif %}
                                <a href="{{ path('settings') }}" class="dropdown-item submit">Profil</a>
                                <a href="{{ path('app_logout') }}" class="dropdown-item submit">Se déconnecter</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}" style="text-decoration: none; color: grey;">Se connecter</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <body>
        {% if app.session is not null and app.session.started %}
            {% set _flash_messages = app.session.flashbag.all %}

            {% if _flash_messages|length > 0 %}
                <div id="flash-messages">
                    {% for label, messages in _flash_messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }}">
                                {{ message|trans|striptags }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}

        {% block body %}{% endblock %}

        <footer>
            <hr>
            <div class="row text-center">
                <div class="col-6">
                    <a href="{{ path('contact') }}" class="btn btn-light my-4 contact">Contactez-nous</a>
                </div>
                <div class="col-6">
                    <a href="{{ path('mentions') }}" class="btn btn-light my-4 mentions">Mentions légales</a>
                </div>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
