{% extends 'base.html.twig' %}

{% block title %}Invités {{ guest.firstName }} {{ guest.lastName }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/admin.css') }}">
{% endblock %}

{% block body %}

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light masthead text-white">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">{{ guest.firstName }} {{ guest.lastName }}</h1>
        </div>
    </div>

    <div class="position-relative overflow-hidden text-center">
        <div class="p-lg-5 mx-auto my-2">
            <a href="{{ path('plus_one_new', {'id': guest.id}) }}" class="btn btn-primary">Ajouter des invités</a>
        </div>
        <div class="p-lg-5 mx-auto my-2">
            {% if plusOnes|length > 0 %}
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Nom & Prénom</th>
                        <th scope="col">Enfant</th>
                        <th scope="col">Cocktail</th>
                        <th scope="col">Dîner</th>
                        <th scope="col">Commentaire</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for plusOne in plusOnes %}
                        <tr class="table-light">
                            <th scope="row">{{ plusOne.lastName }} {{ plusOne.firstName }}</th>
                            <th>
                                {% if plusOne.kid %}
                                    <span class="badge badge-success">
                                        <i class="fas fa-check"></i>
                                    </span>
                                {% else %}
                                    <span class="badge badge-danger">
                                        <i class="fas fa-times"></i>
                                    </span>
                                {% endif %}
                            </th>
                            <th>
                                {% if plusOne.apero %}
                                    <span class="badge badge-success">
                                        <i class="fas fa-check"></i>
                                    </span>
                                {% else %}
                                    <span class="badge badge-danger">
                                        <i class="fas fa-times"></i>
                                    </span>
                                {% endif %}
                            </th>
                            <th>
                                {% if plusOne.dinner %}
                                    <span class="badge badge-success">
                                        <i class="fas fa-check"></i>
                                    </span>
                                {% else %}
                                    <span class="badge badge-danger">
                                        <i class="fas fa-times"></i>
                                    </span>
                                {% endif %}
                            </th>
                            <th>{{ plusOne.comment }}</th>
                            <th>
                                <a href="{{ path('edit_plus_one', {'id': plusOne.id}) }}" class="btn btn-outline-warning">
                                    <i class="fas fa-pen"></i> Modifier
                                </a>
                            </th>
                            <th>
                                <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#myModal">
                                    <i class="fas fa-trash-alt"></i> Supprimer
                                </button>
                                <!-- Modal -->
                                <div id="myModal" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <h4>Êtes-vous certain(e) de vouloir supprimer cet invité ?</h4>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="button btn-danger">
                                                    <a href="{{ path('delete_plus_one', {'id': plusOne.id}) }}" style="text-decoration: none; color: white;">Oui</a>
                                                </button>
                                                <button class="button btn-success" data-dismiss="modal">Non</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-dismissible alert-warning">
                    <h4 class="alert-heading">Aucun invité !</h4>
                    <p class="mb-0">Il n'y a malheureusement aucun invité</p>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
